---
interface Props {
	label: string;
    icon: string;
}

const { label, icon } = Astro.props;
---

<li class="flex gap-3 justify-between w-full border-b-[1px] py-3 hover:bg-black/10 ">
    <div class="flex gap-3 items-center">
        <img class="" src=`/imgs/desafio3/icons/${icon}.svg` alt=`Icono de ${label}`>
        <span>{label}</span>
    </div>
    <img src="/imgs/desafio3/icons/chevron.svg" alt="">
</li>