<footer class="sticky bottom-0 left-0 z-20 w-full p-4 bg-[var(--dark-oscuro)] text-[var(--gris-claro)]">
    <ul class="flex gap-4">
        <li class="flex w-full flex-col items-center gap-2 snap-center text-xs font-medium text-nowrap text-center text-[var(--primary)]">
            <img src={`/imgs/desafio4/icons/home.svg`} width="24" height="24" />
            Inicio  
        </li>
        <li class="flex w-full flex-col items-center gap-2 snap-center text-xs font-medium text-nowrap text-center">
            <img src={`/imgs/desafio4/icons/bookmark.svg`} width="24" height="24" />
            Guardados  
        </li>
        <li class="flex w-full flex-col items-center gap-2 snap-center text-xs font-medium text-nowrap text-center">
            <img src={`/imgs/desafio4/icons/explore.svg`} width="24" height="24" />
            Mapa  
        </li>
        <li class="flex w-full flex-col items-center gap-2 snap-center text-xs font-medium text-nowrap text-center">
            <img src={`/imgs/desafio4/icons/profile.svg`} width="24" height="24" />
            Perfil  
        </li>

    </ul>
</footer>