---
import Mobile from '@/components/Mobile.astro';
import Layout from '@layout/Layout.astro';
---

<Layout title='Tierra del Fuego'>

<Mobile>
    <main class="size-full text-[var(--gris-claro)] ">

        <header class="w-full p-4 absolute flex justify-between items-start z-50">
            <button
                type="button"
                class="flex items-center justify-center bg-[var(--teal)] hover:brightness-75 rounded-full text-sm p-1 ">
                <img src="/imgs/desafio4/icons/notificaciones.svg" alt="Notificaciones">
            </button>

            <div class="flex gap-2">
                <button
                    type="button"
                    class="flex items-center justify-center bg-[var(--teal)] hover:brightness-75 rounded-full text-sm p-1 ">
                    <img src="/imgs/desafio4/icons/notificaciones.svg" alt="Notificaciones">
                </button>
    
                <button
                    type="button"
                    class="flex items-center justify-center bg-[var(--teal)] hover:brightness-75 rounded-full text-sm p-1 ">
                    <img src="/imgs/desafio4/icons/notificaciones.svg" alt="Notificaciones">
                </button>

            </div>
        </header>


        <div id="default-carousel" class="relative w-full" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden rounded-lg md:h-64">
                 <!-- Item 1 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/imgs/desafio4/imgs/ushuaia1.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 2 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/imgs/desafio4/imgs/ushuaia2.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 3 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/imgs/desafio4/imgs/ushuaia3.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 4 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/imgs/desafio4/imgs/ushuaia4.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 5 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/imgs/desafio4/imgs/ushuaia5.webp" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
            </div>

            <!-- Slider indicators -->
            <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                <button type="button" class="w-3 h-3 rounded-full bg-white" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                <button type="button" class="w-3 h-3 rounded-full bg-white" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                <button type="button" class="w-3 h-3 rounded-full bg-white" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                <button type="button" class="w-3 h-3 rounded-full bg-white" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
                <button type="button" class="w-3 h-3 rounded-full bg-white" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
            </div>
        </div>
        
        <main class="p-4 flex flex-col gap-5">
            <section class="flex justify-between"> 
                <h1 class="font-semibold">Tierra del fuego</h1>
                <p class="text-sm flex items-center gap-2">
                    <img src={`/imgs/desafio4/icons/star.svg`} alt="" aria-hidden="true">907 opiniones</p>    
            </section>
    
            <section class="flex justify-between">
                <button class="text-sm  text-nowrap border border-white px-3 py-2 rounded-lg flex gap-1 items-center">
                    <img src="/imgs/desafio4/icons/nav.svg" class="" alt="...">
                    Cómo llegar
                </button>
                <button class="text-sm text-nowrap border border-white px-3 py-2 rounded-lg flex gap-1 items-center">
                    <img src="/imgs/desafio4/icons/forum.svg" class="" alt="...">
                    Contactar a Turismo
                </button>
            </section>
        </main>

    </main>
</Mobile>        





</Layout>


<style>

    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
        
    :root{
        --dark-claro: #2D3136;
        --dark-oscuro: #1B1B1B;
        --dark-medio: #212529;
        --gris-claro: #F0F0F0;
        --gris-medio: #E8E8E8;
        --gris-oscuro: #D7D7D7;
        --teal: #2B484D;
        --primary: #16A6C2;
    }

    
        main {
            font-family: "Poppins";
        }
    </style>